@charset "UTF-8";
@media only screen and (max-width: 375px) {
  .grilla-colchones {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 0;
  }
}
.titulo-categoria {
  text-align: center;
  padding-top: 20px;
}
.titulo-categoria h1 {
  color: lightblue;
  font-weight: bold;
}
.titulo-categoria .presentacion {
  margin: 20px;
}

.grilla-colchones {
  display: flex;
}
.grilla-colchones p {
  color: green;
  margin: 0px 10px 0px 10px;
  text-align: center;
}
.grilla-colchones .sub-colchones img {
  width: 70%;
  align-items: center;
  text-align: center;
}
.grilla-colchones .sub-colchones h2 {
  text-align: center;
  color: lightblue;
  font-weight: bold;
}

.grilla-colchones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
  position: relative;
}

/*  Pantalla resposive para la pagina principal  */
@media only screen and (max-width: 900px) {
  .grilla-colchones {
    display: grid;
    grid-template-columns: auto;
  }
  .grid-ubicacion {
    display: grid;
    grid-template-columns: auto;
    margin-top: 30px;
    justify-content: center;
    width: 100%;
  }
}
.grid-image {
  width: 80%;
  height: 60%;
  object-fit: cover;
  border: solid 4px black;
  margin: 50px;
  border-radius: 20px;
}

.contact-page {
  display: flex;
}
.contact-page .container {
  display: flex;
  max-width: 33%;
  align-items: flex-start;
  margin: 0;
}
@media only screen and (max-width: 375px) {
  .contact-page .container {
    text-align: center;
    max-width: 100%;
  }
}

.contacto {
  color: lightblue;
  margin-left: 10px;
  margin-top: 30px;
}
@media only screen and (min-width: 900px) {
  .contacto {
    text-align: center;
    max-width: 100%;
  }
}

.mb-3 {
  margin: 20px;
}

.button {
  border: 3px solid black;
  padding: 5px;
  margin-left: 20px;
}

.textoexplicativo h1 {
  color: lightblue;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.textoexplicativo p {
  text-align: center;
  margin: 20px;
}

.acolchado h2 {
  color: lightblue;
  font-weight: bold;
  text-align: center;
}
.acolchado p {
  text-align: center;
}

.galeriafoto {
  display: flex;
  justify-content: space-around;
}
.galeriafoto img {
  border: 3px solid black;
  border-radius: 20px;
  height: 400px;
  width: 400px;
}
@media only screen and (min-width: 375px) {
  .galeriafoto {
    flex-direction: column;
  }
  .galeriafoto img {
    width: 100%;
    padding: 30px;
  }
}

.sabanas h2 {
  color: lightblue;
  font-weight: bold;
  text-align: center;
}
.sabanas p {
  text-align: center;
}
.sabanas img {
  border: 3px solid black;
}

.historia h1, .historia h2 {
  color: lightblue;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}
.historia p {
  text-align: center;
}

.imagenescolchoneria {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 20px;
}
@media only screen and (min-width: 375px) {
  .imagenescolchoneria {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }
}
.imagenescolchoneria img {
  height: 400px;
  width: 100%;
}
@media only screen and (min-width: 375px) {
  .imagenescolchoneria img {
    width: auto;
  }
}

.ofertas {
  color: white;
  background-color: red;
  padding: 5px 10px;
  border-radius: 6px;
}

.ofertas:hover {
  transform: scale(2);
  transition: all 1s;
}

/* al pasar el mouse por encima de los bots escale o crezca 4 veces su tamaño Hover*/
.logo img {
  height: 70px;
  align-items: center;
  padding: 20px;
  margin: 0px;
}

div img {
  width: 1365px;
  height: 350px;
}

section iframe {
  width: 100px;
  height: 400px;
  border-radius: 20px;
  opacity: 80%;
  display: flex;
  justify-content: center;
}

.categoria-colchones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

/* responsive */
@media only screen and (max-width: 900px) {
  .categoria-colchones {
    grid-template-columns: auto;
  }
  .grid-ubicacion {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
.image-gallery {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.image-title {
  position: relative;
  font-size: 40px;
  bottom: 12%;
  background: linear-gradient(white, lightblue);
  display: flex;
  border-radius: 20px;
  opacity: 60%;
  justify-content: center;
}

.grid-ubicacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 3%;
}
.grid-ubicacion .ubi-title {
  color: lightblue;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
@media only screen and (min-width: 375px) {
  .grid-ubicacion {
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    flex: auto;
  }
}

.nuestras-marcas {
  background-color: lightblue;
  margin-top: 30px;
}
.nuestras-marcas h2 {
  text-align: center;
  padding-top: 2%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 250%;
}
.nuestras-marcas h2 ul img:hover {
  transform: scale(2);
  /* transform: rotate(30deg); */
  transition: all 1s;
}

.nuestras-marcas ul {
  background-color: lightblue;
  margin: 2%;
  padding: 2%;
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

.ubicacion-title {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: lightblue;
  margin-bottom: 20px;
}
.ubicacion-title h2 {
  margin-bottom: 0;
}

footer img {
  height: 70px;
}

.header-container {
  background-color: #6ec2c5;
  padding: 1%;
}
.header-container ul {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  width: 100%;
  color: black;
  margin-bottom: 0;
  padding-left: 0;
}
.header-container ul li:hover {
  transition: all 0.5s;
  transform: scale(2);
}
.header-container ul img {
  height: 100px;
  width: 100px;
  transform: scale(1.2);
}
@media only screen and (max-width: 375px) {
  .header-container ul {
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    align-items: center;
  }
  .header-container ul li:hover {
    transform: none;
  }
}

.open-bar {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  touch-action: manipulation;
}
.open-bar img {
  width: 40px;
  position: relative;
  padding-right: 10px;
}
.open-bar p {
  display: block;
  margin: auto;
  z-index: auto;
  font-style: italic;
}
@media only screen and (max-width: 375px) {
  .open-bar p {
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: lightgray;
}

.textoprincipal {
  padding: 20px;
  background-color: grey;
  border: 50px;
  border-color: red;
}

/*# sourceMappingURL=style.css.map */
