@charset "UTF-8";
@media only screen and (max-width: 425px) {
  .grilla-colchones {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 0;
  }
}
.titulo-categoria {
  text-align: center;
  padding-top: 20px;
}
.titulo-categoria h1 {
  color: lightblue;
  font-weight: bold;
}
.titulo-categoria .presentacion {
  margin: 20px;
}

.grilla-colchones p {
  color: black;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
  text-align: center;
}
.grilla-colchones .sub-colchones {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.grilla-colchones .sub-colchones img {
  width: 70%;
  margin-left: 15%;
  text-align: center;
}
@media only screen and (max-width: 1100px) {
  .grilla-colchones .sub-colchones img {
    margin-left: 15%;
  }
}
.grilla-colchones .sub-colchones h2 {
  color: lightblue;
  font-weight: bold;
  text-align: center;
}

.grilla-colchones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
  justify-content: space-around;
}

/*  Pantalla resposive para la pagina principal  */
@media only screen and (max-width: 800px) {
  .grilla-colchones {
    display: grid;
    grid-template-columns: auto;
  }
  .grid-ubicacion {
    display: grid;
    grid-template-columns: auto;
    margin-top: 30px;
    justify-content: center;
    width: 100%;
  }
}
.grid-image {
  width: 80%;
  height: 60%;
  object-fit: cover;
  margin: 50px;
  border-radius: 20px;
}
.grid-image:hover {
  transition: 0, 8s;
  filter: brightness(70%);
}

.main-almohadas {
  margin-top: 20px;
}
.main-almohadas h2 {
  font-size: 40px;
  color: lightblue;
  font-weight: bold;
  text-align: center;
}
.main-almohadas p {
  text-align: center;
}

.contact-page {
  display: flex;
}
.contact-page .container {
  display: flex;
  max-width: 33%;
  align-items: flex-start;
  margin: 0;
}
@media only screen and (max-width: 425px) {
  .contact-page .container {
    text-align: center;
    max-width: 100%;
  }
}

.contacto {
  color: lightblue;
  margin-left: 10px;
  margin-top: 30px;
}
@media only screen and (max-width: 425px) {
  .contacto {
    text-align: center;
    max-width: 100%;
  }
}

.mb-3 {
  margin: 20px;
}

.button {
  border: 3px solid black;
  padding: 5px;
  margin-left: 20px;
}

.textoexplicativo h1 {
  color: lightblue;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.textoexplicativo p {
  text-align: center;
  margin: 20px;
}

.acolchado h2 {
  color: lightblue;
  font-weight: bold;
  text-align: center;
}
.acolchado p {
  text-align: center;
}

.galeriafoto {
  display: flex;
  justify-content: space-around;
}
.galeriafoto img {
  border-radius: 20px;
  height: 300px;
  width: 400px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 425px) {
  .galeriafoto {
    flex-direction: column;
  }
  .galeriafoto img {
    width: 100%;
    padding: 30px;
  }
}

.sabanas h2 {
  color: lightblue;
  font-weight: bold;
  text-align: center;
}
.sabanas p {
  text-align: center;
}
.sabanas img {
  border: 3px solid white;
}

.historia h1, .historia h2 {
  color: lightblue;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}
.historia p {
  text-align: center;
}

.imagenescolchoneria {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  width: auto;
}
.imagenescolchoneria img {
  width: 50%;
}
@media only screen and (max-width: 800px) {
  .imagenescolchoneria {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
  }
}

.small-ideal, .normal-ideal, .large-ideal {
  padding: 20px;
}
.small-ideal .main-img, .normal-ideal .main-img, .large-ideal .main-img {
  height: 330px;
}

.main.ideal {
  width: 100%;
  padding: 100px 100px 30px 100px;
}

.fila-ideal {
  display: flex;
  height: 450px;
}

.columna-1-3-ideal {
  display: flex;
  width: 50%;
  padding: 0%;
}

.columna-2-3-ideal {
  width: 50%;
  display: block;
  align-items: center;
}
.columna-2-3-ideal h2 {
  font-weight: bold;
  color: lightblue;
}
@media only screen and (max-width: 425px) {
  .columna-2-3-ideal {
    display: inline-block;
    align-items: center;
  }
}

.small-ideal {
  height: 380px;
  width: 100%;
}
.small-ideal:hover {
  transition: 0, 8s;
  filter: brightness(70%);
}

.normal-ideal, .large-ideal {
  height: 800px;
  width: 100%;
}

/* al pasar el mouse por encima de los bots escale o crezca 4 veces su tamaño Hover*/
section iframe {
  width: 100px;
  height: 400px;
  border-radius: 20px;
  opacity: 80%;
  display: flex;
  justify-content: center;
}

.categoria-colchones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

/* responsive */
@media only screen and (max-width: 600px) {
  .categoria-colchones {
    grid-template-columns: auto;
  }
  .grid-ubicacion {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
.image-gallery {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 300px;
}

.image-title {
  position: relative;
  font-size: 40px;
  bottom: 12%;
  background: linear-gradient(white, lightblue);
  display: flex;
  border-radius: 20px;
  opacity: 60%;
  justify-content: center;
}

.grid-ubicacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 3%;
}
.grid-ubicacion .ubi-title {
  color: lightblue;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  .grid-ubicacion {
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    flex: auto;
  }
}

.nuestras-marcas {
  background-color: lightblue;
  margin-top: 20px;
}
.nuestras-marcas h2 {
  text-align: center;
  padding-top: 2%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 250%;
}
.nuestras-marcas h2 ul img:hover {
  transform: scale(2);
  /* transform: rotate(30deg); */
  transition: all 1s;
}

.nuestras-marcas ul {
  background-color: lightblue;
  margin: 2%;
  padding: 2%;
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

.ubicacion-title {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: lightblue;
  margin-bottom: 20px;
}
.ubicacion-title h2 {
  margin-bottom: 0;
}

footer img {
  height: 80px;
}

.main-img {
  display: block;
  width: 100%;
  height: 100%;
}

.small, .normal, .large {
  padding: 20px;
}

.main-container {
  width: 100%;
  padding: 100px 100px 30px 100px;
}

.fila {
  display: flex;
}

.columna-1-3 {
  width: 50%;
}

.columna-2-3 {
  width: 50%;
}

.small {
  height: 400px;
  width: 100%;
}
.small:hover {
  transition: 0, 8s;
  filter: brightness(70%);
}

.normal, .large {
  height: 800px;
  width: 100%;
}
.normal:hover, .large:hover {
  transition: 0, 8s;
  filter: brightness(30%);
}

#carouselExampleIndicators1 {
  margin-top: 60px;
}

.fotos2do {
  width: 100%;
  height: 500px;
}

.tituloslide {
  color: black;
  font-weight: bold;
}

.header-container {
  background-color: #6ec2c5;
  padding: 1%;
}
.header-container ul {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  width: 100%;
  color: black;
  margin-bottom: 0;
  padding-left: 0;
}
.header-container ul li:hover {
  transition: all 0.5s;
  transform: scale(2);
}
.header-container ul .logopizber {
  height: 80px;
  width: 100px;
  transform: none;
}
@media only screen and (max-width: 600px) {
  .header-container ul {
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    align-items: center;
  }
  .header-container ul li:hover {
    transform: none;
  }
}

.open-bar {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  touch-action: manipulation;
}
.open-bar img {
  width: 40px;
  position: relative;
  padding-right: 10px;
}
.open-bar p {
  display: block;
  margin: auto;
  z-index: auto;
  font-style: italic;
}
@media only screen and (max-width: 425px) {
  .open-bar p {
    text-align: center;
  }
}

.disable, .accept, .error {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.disable {
  justify-content: center;
  display: flex;
}

.error {
  background-color: red;
}

.accept {
  background-color: green;
}

.disable {
  background-color: grey;
}

.card-uno {
  background-color: blue;
  border: 1px solid black;
}

.card-dos {
  background-color: green;
  border: 4px solid red;
}

body {
  font-family: sans-serif;
  background-color: lightgray;
}

.textoprincipal {
  padding: 20px;
  background-color: grey;
  border: 50px;
  border-color: red;
}

/*# sourceMappingURL=style.css.map */
