@import "component/colchonesysommieres";
@import "component/contactanos";
@import "component/linea-espuma";
@import "component/lineablanco";
@import "component/muebles";
@import "component/novedades";
@import "component/paginaprincipal";
@import "base/_nav";


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: lightgray;   
}



.textoprincipal{
    padding: 20px;
    background-color: grey;
    border: 50px;
    border-color: red;
}

footer img{
    height: 70px;
   
}

.formulario{
    color: red;
    padding: 70px;}

.imagenesconjunto img{
    height: 230px;
    padding: 20px;
    
}

 .muebles{
    padding-left: 600px;
    color: green;
    
}

.juegosdeliving h2 {

    color: blue;
    padding: 30px 0px 30px 550px;
}

.textoexplicativo{
    color: green;
    padding: 20px 10px 20px 10px;
    margin: 20px;
    border: 5px solid black;
    text-align: center;
}

.juegosdeliving img{
    padding-left: 10px;
    padding-bottom: 20px;
    height: 300px;
    width: 430px;

}

.lineablanco h1{

    color: green;
    padding: 550px;
}

.imagenesacolchado img{

    height: 300px;
    width: 400px;
    padding: 20px;

}

.imagenesacolchado h2{

    padding-left: 600px;
}

.novedades h1{
    color: green;
    padding: 550px;
}

.novedades{
    display: flex;
    padding: 20px;
   
}
.novedades img{
    height: 300px;
    padding: 20px;
}
.novedades p{
    padding: 20px;
}

.datos h1{

    color: green;
    padding: 500px;
}

.informacion {

    color: blue;
}


.nuestras-marcas ul{
    background-color: grey;
    margin: 10px;
    padding: 20px;
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    
}

.nuestras-marcas ul img{
    padding-left: 150px;
}

.nuestras-marcas ul img:hover{
    transform: scale(2);
    /* transform: rotate(30deg); */
    transition: all 1s;
}
.nuestras-marcas h1{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;

}

.categoria-colchones {
    display: grid;
  
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: repeat(1,1fr);

    grid-gap: 30px;

    margin-top: 30px;

    margin-bottom: 50px;

    position: relative;


   
    }   

    /* responsive */
    @media only screen and (max-width: 900px){
        .categoria-colchones {
            
            grid-template-columns: auto;
        
        }
        
        .grid-ubicacion {

            display: grid;
            grid-template-columns: 1, 1fr;
            grid-template-rows: repeat(2, 1fr);

        }
    }
    
.grid-ubicacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 60px;
        
}


.image-gallery{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.image-title{
    position: relative;
    font-size: 40px;
    bottom: 12%;
    background: linear-gradient(white,lightblue);
    display: flex;
    border-radius: 20px;
    opacity: 60%;
    justify-content: center;
}

.ref-category{
  
    color:black;
}

.grilla-colchones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
    position: relative;
    margin-left: 15px;
    
}


/*  Pantalla resposive para la pagina principal  */
@media only screen and (max-width: 900px){
    .grilla-colchones {
        display: grid;
        grid-template-columns: auto;
    
    }
    .grid-ubicacion {

        display: grid;
        grid-template-columns: auto;
        margin-top: 30px;
        justify-content: center;
        width: 100%;

    }

    
}

.grid-image{
    width: 80%;
    object-fit: cover;
    border: solid 4px black;
    display: flex;
    align-items: center;
    margin: 50px;
    border-radius: 20px;
    }

.wss-logo:hover{
    transform:scale(2);
    transition:all 2s;
}

.grid-ubicación{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    position: relative;
    padding: 40px;
    
}

.ubi-title{
    display: flex;
    position: relative;
    bottom: 0%;
    justify-content: center;
}

.map-style{
    border: solid 5px black;
}

.grid-ref{
    color: black;
    display: flex;
    justify-content: center;
    padding: 0%;
    text-decoration: none;
    
}
.grid-ref p{
    display: flex;
    justify-content: start;
    color: red;

}

.texto{
    display: flex;
    color: blue;
    justify-content: center;
}

.ubicacion-title{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #6ec2c5;
    margin-bottom: 20px;
    border-radius: 20px;
}

.d-block{
    border-radius: 30px;
    opacity: 90%;
}

@media only screen and (max-width: 375px){
    .grilla-colchones {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        height: auto;
        
    }


    .grid-image{
        justify-content: center;
        align-items: center;
    }

    .grid-ubicacion {
        display: grid;
        grid-template-columns: auto;
        margin-top: 30px;
        justify-content: center;
        width: 100%;

    }
    }

    .textoexplicativo:hover{
        color: red;
    }

    .grid-ref:hover{
        background-color: lightseagreen;
        border-radius: 20px;
        transition: 2s;
        
    }