@import "component/colchonesysommieres";
@import "component/contactanos";
@import "component/lineablanco";
@import "component/historia";
@import "component/novedades";
@import "component/index";
@import "base/_nav";
@import "base/_listas";
@import "base/mixins";
@import "base/extends";
@import "base/condiciones";






body{
    font-family: sans-serif;
    background-color: lightgray;   
}

.textoprincipal{
    padding: 20px;
    background-color: grey;
    border: 50px;
    border-color: red;
}




