*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: lightgray;
}

/* @media only screen and (max-width: 500px){
    body {
        background-color:red;
    }

}

@media only screen and (min-width: 501px) and (max-width: 980px){
    body {
        background-color: blue;
    }
}

@media only screen and (orientation: landscape){

    .header-container nav ul{
        background-color: yellow;
        border: 5px solid red;
    } */
/* } */
.header-container nav ul {
    height:1%;
    background-color: #d4ecf5;
    padding: 2%;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
 
}

.header-container img {

    text-decoration: none;
    width: 140px;
    transform:scale(2)
}

.box {
    height: 40px;
    width: 70px;
    border-radius: 6px;
    background-color: green;
    transition: scale 1s;
   
}
.box p{
    margin: 0;
    color: white;

}

nav ul li img {
    height: 100px;
    width: 100px;
    transform: scale(1.2);

}

nav ul li:hover{
    transition: all 0.5s;
    transform: scale(2);

}

.ofertas{
    color: white;
    background-color: red;
    padding: 5px 10px;
    border-radius: 6px;
    
}

.ofertas:hover{
    transform: scale(2);
    
    transition: all 1s;
}

.foto-principal{
    margin: 20px 10px 0px 10px;

    width: 100%;
}

.colchones-title{
    color: red;
}


/* al pasar el mouse por encima de los bots escale o crezca 4 veces su tamaño Hover*/



.logo{
    width: 120px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
    
}
.logo img{
    height: 70px;
    align-items: center;
    padding: 20px;
    margin: 0px;
}

div img{
    width: 1365px;
    height: 350px;
}

.encontratucolchon{
    display: flex;
    padding: 5%;
}

.colchon1{
    padding: 30px;
}

.colchon2{
    padding: 30px;    
}

.resorte1 {
    display: flex;
    margin-left: 200px;
}
.mainsection div img{
    width: 600px;
    height: 400px;
    margin-top: 30px;
    padding: 30px;
}

.main1 h2{
    color: black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: sans-serif;
    background-color: lightblue;
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

section iframe{

    padding-left: 100px;
    width: 500px;
    height: 400px;
}

.fabricación{
    padding: 20px;
    margin-left: 200px;
    }

.mapa{
    padding: 20px;
    text-align: center;

}

.mapa1{
    width: 1200px;
}

.contacto{
    color: blue;
    padding: 10px 10px 20px 35px;
    margin: 30px;
}

.contacto1 h3 {
    color: red;
    text-decoration: none;
    padding: 40px 10px 0px 10px;

}

.marcascolchones{
    color: green;
    padding-left: 500px;
}

.textoprincipal{
    padding: 20px;
    background-color: grey;
    border: 50px;
    border-color: red;
}

footer img{
    height: 70px;
   
}

.formulario{
    color: red;
    padding: 70px;}

.imagenesconjunto img{
    height: 230px;
    padding: 20px;
    
}

 .muebles{
    padding-left: 600px;
    color: green;
    
}

.juegosdeliving h2 {

    color: blue;
    padding: 30px 0px 30px 550px;
}

.textoexplicativo{
    color: green;
    padding: 20px 10px 20px 10px;
    margin: 20px;
    border: 5px solid black;
    text-align: center;
}

.juegosdeliving img{
    padding-left: 10px;
    padding-bottom: 20px;
    height: 300px;
    width: 430px;

}

.lineablanco h1{

    color: green;
    padding: 550px;
}

.imagenesacolchado img{

    height: 300px;
    width: 400px;
    padding: 20px;

}

.imagenesacolchado h2{

    padding-left: 600px;
}

.novedades h1{
    color: green;
    padding: 550px;
}

.novedades{
    display: flex;
    padding: 20px;
   
}
.novedades img{
    height: 300px;
    padding: 20px;
}
.novedades p{
    padding: 20px;
}

.datos h1{

    color: green;
    padding: 500px;
}

.informacion {

    color: blue;
}


.nuestras-marcas ul{
    background-color: grey;
    margin: 10px;
    padding: 20px;
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    
}

.nuestras-marcas ul img{
    padding-left: 150px;
}

.nuestras-marcas ul img:hover{
    transform: scale(2);
    /* transform: rotate(30deg); */
    transition: all 1s;
}
.nuestras-marcas h1{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;

}

.categoria-colchones {
    display: grid;
  
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: repeat(1,1fr);

    grid-gap: 30px;

    margin-top: 30px;

    margin-bottom: 50px;

    position: relative;

   
    }   

    /* responsive */
    @media only screen and (max-width: 900px){
        .categoria-colchones {
            
            grid-template-columns: auto;
        
        }
        
        .grid-ubicacion {

            display: grid;
            grid-template-columns: 1, 1fr;
            grid-template-rows: repeat(2, 1fr);

        }
    }
    
.grid-ubicacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
}

.image-gallery{
    width: 100%;
    object-fit: cover;
}

.image-title{
    position: relative;
    font-size: 40px;
    bottom: 0;
    background: linear-gradient(white,lightblue);
    display: flex;
}

.ref-category{
  
    color:black;
}

.grilla-colchones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
    position: relative;
    
}


/*  Pantalla resposive para la pagina principal  */
@media only screen and (max-width: 900px){
    .grilla-colchones {
        display: grid;
        grid-template-columns: auto;
    
    }
    .grid-ubicacion {

        display: grid;
        grid-template-columns: auto;
        margin-top: 30px;

    }
}

.grid-image{
    width: 80%;
    object-fit: cover;
    border: solid 4px black;
    display: flex;
    align-items: center;
    margin: 50px;
    }

.wss-logo:hover{
    transform:scale(2);
    transition:all 2s;
}

.grid-ubicación{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    position: relative;
    padding: 40px;
}

.ubi-title{
    display: flex;
    position: relative;
    bottom: 0%;
    justify-content: center;
}

.map-style{
    border: solid 5px black;
}

.grid-ref{
    color: black;
    display: flex;
    justify-content: center;
    padding: 0%;
    text-decoration: none;
}
/* .tamaño-carousel{
    height: 200px;
    position: absolute;
} */

.tamaño-carousel{
    height: 600px;
}