@mixin subtitulos {

    color: lightblue;
    font-weight: bold;
    text-align: center;
    
}

@mixin titulo ($color, $font, $align){

    color: $color;
    font-weight: $font;
    text-align: $align;
}

@mixin fotos ($width, $height,){

    width: $width;
    height: $height;

}


// @mixin border ($relleno, $borde, $radio){

//     background-color: $relleno;
//     border: $borde;
//     border-radius: $radio;

// }

// .cancel-dos{
//     @include border(red,1px solid black ,10px )
// }