.header-container{

    
    background-color: #6ec2c5;
    padding: 1%;

    ul {
    
        display: flex;
        position: relative;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        width: 100%;
        color: black;
        margin-bottom: 0;
        padding-left: 0;
    

     
       
     li:hover{

        transition: all 0.5s;
        transform: scale(2);
        }   


    img{
        height: 100px;
        width: 100px;
        transform: scale(1.2);
    }
    
    @media only screen and (max-width:375px){

        flex-direction: column;
        text-align: center;
        font-size: 15px;
        align-items: center;
        
       
        li:hover{
            transform: none;

        }
    }
        
    }
}

.open-bar{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    touch-action: manipulation;

    img{
        width: 40px;
        position: relative;
        padding-right: 10px;

    }
     p{
         display: block;
         margin: auto;
         z-index: auto;
         font-style: italic;
     }

     @media only screen and (max-width:375px) 
    {
        
        p{
            text-align: center;
        }

    }
}

