.textoexplicativo {

    h1{
        color: lightblue;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }
    p{
        text-align: center;
        margin: 20px;

    }
}

.acolchado{

    h2{
        color: lightblue;
        font-weight: bold;
        text-align: center;
        
    }

    p{
    
        text-align: center;
    }
    
}

.galeriafoto{
    display: flex;
    justify-content: space-around;

    img{
        border: 3px solid black;
        border-radius: 20px;
        height: 400px;
        width: 400px;
    }

    @media only screen and (max-width: 400px){

        flex-direction: column;
        
        img{
            width: 100%;
            padding: 30px;
           
        }
    }
}

.sabanas{

    h2{
        color: lightblue;
        font-weight: bold;
        text-align: center;        
    }

    p{
        text-align: center;
    }

    img{
        border: 3px solid black;
    }
}
